.mainSection {
  padding: 15px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 67px;
}

.cat {
  position: absolute;
  top: 15px;
  display: flex;
  padding: 0 10px;

  color: #2a2a2a;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 7px;
  gap: 20px;
}

.cat li {
  list-style: none;
  gap: 4px;
  display: flex;
  align-items: center;
  margin: 5px 5px;
  padding: 0 5px;
}

li i {
  font-size: 19px;
}

.cat li label {
  font-family: Prompt;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-left: 5px;
}

.sec-txt-1 {
  padding: 0;
  margin: 5px 0 0 0;
  letter-spacing: 0.5px;
  font-size: 35px;
  font-family: Prompt;
  font-weight: 800;
  color: #2a2a2a;
  text-align: center;
}
.sec-txt-2 {
  padding: 0;
  margin: 0;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-family: Prompt;
  font-weight: 500;
  text-align: center;
  color: #2a2a2a;
}

.input-section {
  margin: 30px 0 10px 0;
  position: relative;
}

.input-section .input {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  width: 600px;
  color: #2a2a2a;
  font-family: Prompt;
  font-weight: 500;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.paste-btn {
  position: absolute;
  display: flex;
  align-items: center;
  top: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 3px;
  gap: 5px;
  padding: 0 10px;
  background-color: #2a2a2a;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.2s ease;
}

.paste-btn:hover {
  transform: scale(0.9);
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: Prompt;
  font-weight: 700;
  font-size: 17px;
  padding: 0.9rem 1.9rem;
  margin: 10px 0;
  color: whitesmoke;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(77, 54, 208, 1) 0%,
    rgba(132, 116, 254, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  letter-spacing: 1.5px;
  border-radius: 10px;
  outline: none;
}

.cssbuttons-io-button svg {
  margin-right: 8px;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}
