html {
  box-sizing: border-box;
  display: flex;
  font-family: Roboto, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  padding-top: 70px;
  background: radial-gradient(
    circle at 30% 100%,
    #fdf497 0%,
    #fdf497 10%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 105%
  );
  background-attachment: fixed;
  vertical-align: middle;
}
